:root {
    /* FONTE */
    --font-dm-sans: "DM Sans", sans-serif;

    /* CORES */
    --color-primary: #1DB954;
    --color-secondary: #191414;
    --color-accent: #242424;
    --color-background: #121212;
    --color-bg-icon: #131313;
    --color-bg-arrow: rgba(0, 0, 0, 0.7);
    --color-text: #FFFFFF;
    --color-text-secondary: #B3B3B3;
    --color-text-terciary: #a7a7a7;
    --color-border: #878787;
    --color-gradient1: rgba(221, 43, 204, 1);
    --color-gradient2: rgba(67,56,202,1);
}